[user]
	name = Bob Yexley
	email = bob@yexley.net
[color]
	diff = auto
	status = auto
	branch = auto
[color "branch"]
	current = red bold
	local = normal
	remote = yellow bold
	plain = normal
[color "status"]
	header = normal
	added = red bold
	updated = green bold
	changed = cyan bold
	untracked = cyan bold
	nobranch = red bold
[core]
	excludesfile = ~/.gitignore
	editor = subl --wait
	autocrlf = input
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[alias]
	st = status -sb
	cam = commit -am
	b = branch
	db = branch -D
	crb = "!f() { git checkout -b $1 origin/$1 }"
	co = checkout
	dt = difftool
	lg = log --pretty=format:'%Cred%h%C(yellow)%d%Creset - %s %Cgreen(%cr) %C(blue)%an%Creset'
	standup = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since yesterday --author 'Bob Yexley'
	pullr = pull --rebase
	startover = reset -hard HEAD
	fom = fetch origin master
	rom = rebase origin/master
    mnff = merge --no-ff
	mffo = merge --ff-only
	fp = push --force
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[branch]
	autosetuprebase = always
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
