[user]
	name = Bob Yexley
	email = bob@heysparkbox.com
	signingkey = 5567B799
[commit]
	gpgsign = true
	template = /Users/ryexley/projects/sparkbox/standard/code-style/git/.gitmessage
[color]
	diff = auto
	status = auto
	branch = auto
[color "branch"]
	current = red bold
	local = normal
	remote = yellow bold
	plain = normal
[color "status"]
	header = normal
	added = red bold
	updated = green bold
	changed = cyan bold
	untracked = cyan bold
	nobranch = red bold
[core]
	excludesfile = ~/.gitignore
	editor = subl --wait
	autocrlf = input
	pager = "diff-so-fancy | less --tabs=4 -RFX"
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
	compactionHeuristic = true
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[merge]
	tool = Kaleidoscope
[alias]
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	mergeup = "!git merge upstream/$(git branch-name) --ff-only"
	st = status -sb
	cam = commit -am
	b = branch
	db = branch -D
	crb = "!f() { git checkout -b $1 origin/$1 }"
	co = checkout
	dt = difftool
	lg = log --pretty=format:'%Cred%h%C(yellow)%d%Creset - %s %Cgreen(%cr) %C(blue)%an%Creset'
	lgnm = log --pretty=format:'%Cred%h%C(yellow)%d%Creset - %s %Cgreen(%cr) %C(blue)%an%Creset' --no-merges
	standup = log --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cD) %C(bold blue)<%an>%Creset' --since yesterday --author 'Bob Yexley'
	pullr = pull --rebase
	startover = reset -hard HEAD
	search = grep -n --color
	fom = fetch origin master
	rom = rebase origin/master
  	mnff = merge --no-ff
	mffo = merge --ff-only
	fp = push --force-with-lease
	fa = fetch --all --prune
	pr  = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/merge:pr/$1 && git checkout pr/$1; }; f"
	pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
	list-tags = "!git tag | xargs -I@ git log --format=format:\"%ai @%n\" -1 @ | sort | awk '{print $4}'"
	dlc = diff HEAD~2
	lpr = "!git tag --sort=v:refname | grep -"
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[branch]
	autosetuprebase = always
[push]
	default = matching
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[secrets]
	providers = /Users/ryexley/projects/sparkbox/secrets/provider.js
[init]
	templateDir = /Users/ryexley/.git-template
